<%= render('shared/header') %>
<%= form_for @listing do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.number_field :price %>
  <%= f.file_field :image %>


  <%= f.submit %>
<% end %>

<form>
  <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
  <input id="find" type="button" value="find" />
</form>
