<%= render('shared/header') %>

<div class="large-6 columns">
<%= form_for @listing do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.number_field :price %>
  <%= f.submit %>
</div>

<div class="large-6 columns">
  <form>
    <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
    <input id="find" type="button" value="find" />
  </form>
  <div class="details">
  <%= f.label :lng %>
  <%= f.text_field :lng, data: {geo: 'lng'} %>

  <%= f.label :lat %>
  <%= f.text_field :lat, data: {geo: 'lat'} %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address, data: {geo: 'name'} %>

  <%= f.label :postal_code %>
  <%= f.text_field :postal_code, data: {geo: 'postal_code'} %>

  <%= f.label :town_city %>
  <%= f.text_field :town_city, data: {geo: 'locality'}  %>

  <%= f.label :street_number %>
  <%= f.text_field :street_number, data: {geo: 'street_number'} %>
</div>
  <% end %>
</div>
