<div class="big-row head">
  <div class="large-6 columns">
    <%= link_to 'Head Logo', root_path %>
  </div>

  <div class="large-6 columns text-right" style="padding-right: 0;">
    <nav>
      <%= link_to 'Sign in', new_user_session_path unless user_signed_in? %>
      <%= link_to 'Sign Up', new_user_registration_path unless user_signed_in? %>
      <a href="#">FAQ</a>
      <a href="#">FAQ</a>

      <% if user_signed_in? %>
        <div class="dropdown text-center" style="height: 60px; line-height: 60px;">
          <%= link_to current_user.full_name, dashboard_path if user_signed_in? %>

          <div class="dropdown-content text-left">
            <%= link_to 'Create Listing', new_listing_path %>
            <%= link_to 'My Listings', listings_path %>
            <%= link_to 'Account Settings', dashboard_path %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete if user_signed_in? %>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

</div>
